#slider {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 640px;
}

#slider .slides {
    position: absolute;
    height: 100%;
    width: 100%;
}

#slider .slides img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 500;
}

#slider .slides .active {
    z-index: 510;
}

#slider .next,
#slider .prev {
    cursor: pointer;
    border: 16px solid #000000;
    position: absolute;
    top: 192px;
    z-index: 600;
}

#slider .prev {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    left: 0px;
}

#slider .next {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    right: 0px;
}

#slider .position {
    bottom: 10px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    z-index: 600;
}

#slider .position .points {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #000000;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 0 5px;
}

#slider .position .active {
    background-color: #ffffff;
}

.wp-list-table #slider {
    width: auto;
    height: auto;
}
